.nav {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.link {
  font-size: 18px;
  text-decoration: none;
  color: var(--text-color);
}

.link_active {
  color: var(--text-hover);
  transition: all 0.3s;
}
