.search_input {
   width: 300px;
   margin-right: 20px;
   padding: 7px;
   border: 1px solid var(--search_input);
   border-radius: 5px;
}

.search_input:hover,
.search_input:focus {
   outline: none;
   border: 1px solid var(--search_border);
}

.search_btn {
   padding: 7px 15px;
   border: 1px solid var(--search_input);
   border-radius: 5px;
   background-color: rgb(255, 255, 255);
}

.search_btn:hover,
.search_btn:focus {
   outline: none;
   border: 1px solid var(--btn_hover);
   cursor: pointer;
   color: var(--btn_hover);
   transition: color linear 250ms;
}

.search_message {
   font-size: 20px;
   color: var(--text_error);
}